{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Training/style.css' %}">
    <script src="{% static 'Training/update.js' %}"></script> 
    <title>{% block title %}Learning Management System{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="profile-box">
            <div class="css-border">
                <img src="{% if user.profile_pic %}{{ user.profile_pic.url }}{% else %}{% static 'images/cs50duck.jpg' %}{% endif %}" alt="Profile Picture">
                {% if user.is_authenticated %}
                <div class="profile-details">
                    <p>Signed in as, {{ user.username }}!</p>
                    <div>Name:{{ profile.name }}</div>
                    <div>Staff Number:{{profile.staff_number }}</div>
                </div>
        </div>
        <ul class="navlink">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            <div class="dropdown">
                <button class="dropbtn">Options</button>
                <div class="dropdown-content">
                    <li><a href="{% url 'training_module_list' %}">Training Modules</a></li>
                    <li><a href="{% url 'category_list' %}">Categories</a></li>
                    <li><a href="{% url 'profileview' %}">Profile</a></li>
            </div>
        </div>
        <li><a href="{% url 'add_completed_training' %}">add completed trainings</a></li> 
        <li><a href="{% url 'update_trainings_required' %}">Required trainings</a></li>
        <li><a href="{% url 'view_completed_trainings' %}">all staff trainings</a></li>
        </ul>
        {% else %}
        <ul class="nav">
            <li><a href="{% url 'login' %}?next={{ request.path }}">Log In</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
        </ul>
        {% endif %}
    </header>
    <main>
        {% block body %}
        {% endblock %}
    </main>
</body>
</html>