{% extends 'Training/Layout.html' %}
{% load static %}
{% block body %}

<h1>{{ training_module.title }}</h1>
<p>{{ training_module.description }}</p>
<div class="file-container">
    {% if training_module.file.name|slice:'-4:' == '.pdf' %}
        <!-- PDF file -->
        <object data="{{ training_module.file.url }}" type="application/pdf" width="100%" height="600px">
            <p>It appears you don't have a PDF plugin for this browser.
               <a href="{{ training_module.file.url }}">Click here to download and view the PDF file.</a></p>
        </object>
    {% elif training_module.file.name|slice:'-5:' == '.doc' or training_module.file.name|slice:'-5:' == '.docx' %}
        <!-- DOC or DOCX file -->
        <iframe src="https://docs.google.com/viewer?url={{ training_module.file.url }}&embedded=true" width="100%" height="600px"></iframe>
    {% elif training_module.file.name|slice:'-5:' == '.ppt' or training_module.file.name|slice:'-5:' == '.pptx' %}
        <!-- PPT or PPTX file -->
        <iframe src="https://view.officeapps.live.com/op/embed.aspx?src={{ training_module.file.url }}" width="100%" height="600px"></iframe>
    {% else %}
        <p>This file type is not supported for preview. <a href="{{ training_module.file.url }}">Click here to view and download the file.</a></p>
    {% endif %}
</div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<button id="toggle-status-btn" data-id="{{ training_module.id }}" data-status="{{ read_status }}">
    {% if read_status %}
        Mark as Unread
    {% else %}
        Mark as Read
    {% endif %}
</button>
<div id="message" style="display:none;"></div>
{% endblock %}